* {
    margin: 0;
}

nav {
    
}

body {
    text-align: center;
    background-image: url("images\ For\ CSS/transbackground.jpg");
}

#THEGAYS {
    box-align:center;
    width: 5px;
    height: 5px;
}

p {
    text-align: center;
    background-color: white;
}

footer {
    margin:0;
    background-color: pink;
    width: 100%;
    padding:0;
}