* {
    margin: 0;
}
nav {
    margin:0;
    background-color: skyblue;
    font:size 20px;
    width: 100%;
    padding:0;
    display:flex;
    justify-content:space-evenly;
}
body {
    text-align: center;
    background-image: url("images\ For\ CSS/transbackground.jpg");
}

#THEGAYS{
    text-align:center;
    border: groove 5px black;
}
p {
    text-align: center;
    background-color: white;
}

footer {
    margin:0;
    background-color: pink;
    width: 100%;
    padding:0;
}